@keyframes slide {
    0% {
      transform: translateX(100vw);
     
    }
    100% {
      transform: translateX(200%);
    
      
    }
  }

  @keyframes down {
    0% {
      transform: translateY(-100%);
      
     
    }
    100% {
      transform: translateY(0);
      
      
    }
  } 
  @keyframes up {
    0% {
        transform: translate(-50%, -20%);
        opacity: 0;
      
     
    }
    100% {
        transform: translate(-50%, -50%);
      
      
    }
  } 